body {
	text-align:center;
}


h1 {
	position:relative;
}

.square {
	width: 100px;
	height: 100px;
	background: #ccc;
	margin: 5px;
	cursor: pointer;
}

.x {
	background: blue;
	color: blue;
	font-size: 24px;
	overflow: hidden;
}
.o {
	background: red;
	color: red;
	font-size: 24px;
	overflow: hidden;
}
#x_img {
	width: 100%;
	margin-top: 15px;
	color: blue;
}
#o_img {
	width: 100%;
	margin-top: 15px;
	color: red;
}
.top, .middle, .bottom {
	width: 330px;
	margin: 0 auto;
}